/* FIRST PALETES */
:root{
    --first-color:#FFD6FF;
    --second-color:#E7C6FF;
    --third-color:#C8B6FF;
    --fourth-color:#B8C0FF;
    --fifth-color:#BBD0FF;
}



/* SECOND PALETS */
:root{
--isabelline: #edede9ff;
--timberwolf: #d6ccc2ff;
--linen: #f5ebe0ff;
--champagne-pink: #e3d5caff;
--pale-dogwood: #d5bdafff;
}

/* THIRD PALETES */
:root{
--misty-rose: #ffe5ecff;
--pink: #ffc2d1ff;
--cherry-blossom-pink: #ffb3c6ff;
--bakermiller-pink: #ff8fabff;
--rose-pompadour: #fb6f92ff;
}
