/**************************
    GOOGLE FONT CDN
**************************/



/**************************
    CSS RESET
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/**************************
    SET DEFAULT STYLING
**************************/
h1{};
h2{}
p{};
a{}

/**************************
    HEADER SECTION STYLING
**************************/

    /*=========================
        NAVBAR STYLING
    =========================*/



/**************************
    MAIN SECTION STYLING
**************************/


/**************************
    FOOTER SECTION STYLING
**************************/

    /*=========================
        SUB-FOOTER STYLING
    =========================*/

    /*============================
        COPYRIGHT SECTION STYLING
    =============================*/